
<body>

        {%extends 'plantilla.html'%}  
{%block body%}
    <br>
    <h1 class="display-1 text-center mt-5 mb-5 text-danger"> Actualizar album </h1>
    <div container>
    <div class="card card-body">
    <form action="/actualizar/{{ album.0 }}" method="POST">
        <div class="mb-3">
        <input type="text" class="form-control" name="txtTitulo", value="{{ album.1 }}" >
        </div>
        <div class="mb-3">
        <input type="text" class="form-control" name="txtArtista", value="{{ album.2 }}">
        </div>
        <div class="mb-3">
        <input type="number" class="form-control" name="txtAnio", value="{{ album.3 }}" >
        </div>

        <button type="submit" class="btn btn-outline-success">Actualizar</button>
    </form>
    </div>
</div>
    {%endblock%}
</body>
</html>