<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar registro</title>
</head>
<body>
    <br>
    <br>
    <center>
    <br>
    <h1> Eliminar registro </h1>
    <br>
    <br>
    <form action="/eliminar/{{ fruteria.0 }}" method="POST">
        <input type="text" name="txtFruta", value="{{ fruteria.1 }}" >
        <input type="text" name="txtTemporada", value="{{ fruteria.2 }}">
        <input type="step" name="txtPrecio", value="{{ fruteria.3 }}" > 
        <input type="number" name="txtStock", value="{{ fruteria.4 }}" > 
        <button type="submit">Eliminar</button>
    </form>
    </center>
    
</body>
</html>